# APP
APP_NAME=go-simple-template
APP_VERSION=1.0.0
APP_PORT=8080
APP_DEBUG=true

# MONGODB
MONGODB_PROTOCOL=mongodb
MONGODB_ADDRESS=localhost:27017
MONGODB_USERNAME=
MONGODB_PASSWORD=
MONGODB_NAME=go-simple
MONGODB_OPTION=
MONGODB_MAX_CONN_OPEN=100
MONGODB_MAX_CONN_IDLE=10
MONGODB_MAX_CONN_LIFETIME=1h

# REDIS
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_USERNAME=
REDIS_PASSWORD=
REDIS_DB=0
REDIS_TLS=false
